/*Variables*/
:root{
    --darkPink: #b1093b;
    --lightPink:#ef0f4e;
    --darkPurple:#22071a;
    --lightPurple:#ddc5d8fa;
}
/*Reset*/
body, p, a, ul, li{
    margin: 0;
    padding:0;
    text-decoration: none;
}
li{
    list-style-type:none;
}

/* basic styles */
body{
    background: var(--lightPurple);
    overflow-x: hidden;  
}

@font-face {
    font-family: 'Tagetts';
    src: url(fonts/tagetts.ttf);
}

/*Mobile Styles*/
/*header section styles*/
ul.nav_bar, div.copyright,
div.extra_footer_stuff, div.subscribe{
  display:none;  
}
div.logo{
    border:2px solid var(--darkPurple);
    display: inline-block;
    position: absolute;
    margin: 15px 15px;
    padding: 5px;
    background-color: var(--darkPurple);
    border-radius: 50%;
    z-index: 1;
}
p.logo{
   color:var(--lightPurple);
   font-family: Tagetts;
   font-weight: bold;
   font-size: 0.9em;
}
section#Home{
    position:relative;
}
#Home img{
    width: 200%;
    height: 550px;
    opacity:0.7;  
}
div.welcome_text{
    position:absolute;
    top: 200px;
    text-align: center;
    color:var(--darkPurple);
    font-family: sans-serif;
    font-weight: bold;
}
.welcome_text span{
    font-family: Tagetts;
}
h2.welcome_text{
    font-size: 1.6em;
    font-family: Tagetts;
    margin: 10px;
    
}
p.welcome_text{
    font-size: 0.9em;
    margin: 0px 20px;
}

#Home div.buttons{
    position: absolute;
    top:400px;
    text-align: center;
    width:100%;
}
a.buttons {
    border:2px solid var(--darkPurple);
    margin: 10px;
    padding: 10px;
    color:var(--darkPurple);
    border-radius: 5px;
}

a.buttons:hover{
    color:var(--lightPurple);
    background-color:var(--darkPurple);
}

/*services section*/
section#Services{
    color: var(--darkPurple);
    background-color: var(--darkPurple);   
}

ul.services_list li{
    border:2px solid var(--lightPurple);
    border-radius: 50px;
    margin: 20px;
    padding:15px;
    height: 300px;
    text-align: center;
    background-color: var(--lightPurple);
    box-shadow: 5px 5px 5px 5px #0e0d0d;
    
}
ul.services_list.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin-top: 0px;
}
#Services h2.heading{
    background-color: var(--darkPurple);
    position: relative;
    top:-25px;
    padding:10px;
    text-align: center;
    color: var(--lightPurple);
    margin-bottom: 0px;
}
#Services a.buttons{
    position: relative;
    top:20px;
}
#Services p, #Services h3{
    position: relative;
    top:-5px;
}

#Services > ul > li{
    grid-column: 1/9;  

}
#Services .fas, #Services .fab{
    font-size: 2.2em;  
    color: var(--lightPurple);
}
div.icon{
    border: 2px solid var(--darkPurple);
    width:40px;
    height:40px;
    padding:15px;
    margin: 10px;
    border-radius: 100%;
    background-color: var(--darkPurple);
    display: inline-block;
    text-align: center;
    
}

/*About us section*/
#About{
    position: relative;
}
#About img{
    width: 200%;
    height: auto;
    opacity:0.7;  
}
div.about_text{
    position: absolute;
    top:70px;
    margin:15px;
    text-align: center;
    border: 2px solid var(--darkPurple);
    height: 250px;
    border-radius: 5px;
    background-color: var(--darkPurple);
    padding: 15px;
    color:var(--lightPurple);
    opacity:0.9;
}
#About a{
    position: relative;
    top:25px;
}

#About a.buttons{
    color:var(--lightPurple);
    border:2px solid var(--lightPurple);
}
#About a.buttons:hover{
    color:var(--darkPurple);
    background-color:var(--lightPurple);
}
/*Portfolio section*/
#Portfolio{
    background-color: var(--darkPurple);
    color: var(--darkPurple);
    text-align: center;
}
#Portfolio ul li{
    border:2px solid var(--lightPurple);
    margin:20px;
    min-height: 350px;
    border-radius: 5px;
    background-color: var(--lightPurple);

}
#Portfolio ul.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 0;
    
}
#Portfolio > ul > li{
    grid-column: 1/9;
}

#Portfolio a.buttons{
    position: relative;
    top:10px;
}
#Portfolio h4{
    position: relative;
    top:0px;
}
#Portfolio p{
    position: relative;
    top:-10px;
}

#Portfolio h2{
    padding:10px;
    position: relative;
    background-color: var(--darkPurple);
    top:-25px;
    margin-bottom: 0;
    color:var(--lightPurple);
}
#Portfolio a.buttons{
    color:var(--darkPurple);
    border:2px solid var(--darkPurple);
}
#Portfolio a.buttons:hover{
    color:var(--lightPurple);
    background-color:var(--darkPurple);
}
#Portfolio img{
    width:100%;
    position: relative;
    top: 0px;
}

/*Choose us section*/
section.choose_us{
    color:var(--darkPurple);
    text-align: center;
}
section.choose_us h4{
    font-size: 1.1em;
}
ul.choose_us{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 20px;
}
ul.choose_us li{
    border: 2px solid var(--darkPurple);
    grid-column: 1/13;
    margin-bottom: 30px;
    height:250px;
    width:250px;
    border-radius: 100%; 
    background-color: var(--darkPurple); 
    color:var(--lightPurple);
    justify-self: center;
}

ul.choose_us li h4, ul.choose_us li p{
    position: relative;
    top:50px;   
}

/*Footer*/
footer{
    color:var(--lightPurple);
    background-color: var(--darkPurple);
}
footer div.logo{
    border:2px solid var(--lightPurple);
    background-color: var(--lightPurple);   
}
footer p.logo{
  color:var(--darkPurple); 
  font-size: 0.7em; 
}
footer img{
    width:10%;
}
body > footer > div.contact > ul > li{
    display: inline;
}
div.footer_section{
    margin: 20px;
    height:300px;
}
div.footer_section ul{
    display: inline-block;
}
div.contact ul.contact li{
    margin: 5px;
}
footer div.quick_links, footer div.support{
    display: inline-block;
}
footer div.quick_links{
    position: relative;
    top:80px;
}
footer div.support{
    position: relative;
    top:25px;
    left:75px;
}
footer h4{
    position: relative;
    top:10px;
    color: var(--lightPurple);
    font-size: 1.2em;
}
footer a{
    text-decoration: underline;
    color:var(--lightPurple);
}
footer a:hover{
    color: var(--darkPurple);
    background-color: var(--lightPurple);
}
footer div.quick_links a, footer div.support a{
    display: inline-block; 
    margin-bottom: 10px;
    margin-left: 10px;
}
div.contact {
    text-align: center;
    font-size: 1.5em;
    padding:10px;
    letter-spacing: 10px; 
}
div.footer_section ul{
    text-align:center;
}
div.contact a:hover{
    border: 2px solid var(--lightPurple);
    width:10px;
    height: 10px;
    padding-left: 8px;
    border-radius:100%;
    
}


/*small tablet styles*/
@media screen and (min-width:350px){
    /*Portfolio section*/
    #Portfolio ul li{
        min-height: 400px;
    
    }
    
}
@media screen and (min-width:420px){
    /*header section*/
    #Home img{
        width: 100%;
        height:450px;
    }
    #Home div.buttons{
        top:350px;
    }
   #Home h2{
       font-size: 1.8em;
   }

   /*Services section*/
   #Services > ul > li{
    grid-column: 2/8;
   }
    #Services .fas, #Services .fab{
        font-size: 1.7em;  
    }
    div.icon{
        width:30px;
        height:30px;   
    }

    /*About section*/
    #About img{
        width: 150%;  
    }

    div.about_text{
        width:300px;
        height: 250px;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);    
    }
    
    /*Portfolio section*/
    #Portfolio > ul > li{
        grid-column: 2/8;
        min-height:380px;
    }

    /*Choose us section*/
    section.choose_us{
        text-align: center;
    }
    section.choose_us h4{
        font-size: 1.1em;
    }
    ul.choose_us li{
        grid-column: 1/13;
        height:250px;
        width:250px;
    }
    
    ul.choose_us li h4, ul.choose_us li p{
        position: relative;
        top:50px;   
    }
    
    /*Footer*/
    div.footer_section{
        position: relative;
        left:100px;
    }   
}
@media screen and (min-width:550px) {
        /*Services section*/
        #Services > ul > li{
            height: 300px;
            width: 250px;
            justify-self: center;
        }
        #Services .fas, #Services .fab{
            font-size: 1.5em;  
            
        }
        div.icon{
            width:25px;
            height:25px;
        }
        /*About section*/
        div.about_text{
            width:350px;
        }
        /*Portfolio section*/
        #Portfolio > ul > li{
            min-height:330px;
            width: 260px;
            justify-self: center;
        }
        /*Choose section*/
        section.choose_us{
            text-align: center;
        }
        section.choose_us h4{
            font-size: 1.1em;
        }
        ul.choose_us li:nth-child(odd){
            grid-column: 2/7;
        }
        ul.choose_us li:nth-child(even){
            grid-column: 8/12;
        }
        section.choose_us h4{
            font-size: 1.1em;
        }
        ul.choose_us li{
            height:245px;
            width:245px;
        }
    
}
@media screen and (min-width:650px){
    /*header section*/
    div.welcome_text{
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
   #Home > div.welcome_text > h2{
       font-size: 2.2em;
    }
    p.welcome_text{
        font-size: 0.9em;
    }
    #Home div.buttons{
        top:370px;
    }
   /*Services section*/
   #Services > ul > li:nth-child(odd){
    grid-column: 2/4;
   }
   #Services > ul > li:nth-child(even){
    grid-column: 5/9;
   }
   /*Portfolio section*/
   #Portfolio > ul > li:nth-child(1){
    grid-column: 1/4;
   }
   #Portfolio > ul > li:nth-child(2){
    grid-column: 5/9;
   }   
}

/*large tablets and small laptops*/
@media screen and (min-width:980px){
    /*Header scetion*/
     nav{
        text-align: center;
        
    } 
    ul.nav_bar {
        position: absolute;
        display: inline-block;
        border: 2px solid var(--darkPurple);
        padding: 10px;
        z-index: 1;
        left:200px;
    } 
    ul.nav_bar li{
        display: inline-block;   
    }
    #Home > header > nav > ul > li > a{
        color: var(--lightPurple);
        font-weight: bold;
        z-index: 1;
        margin: 30px;
    }
    ul.nav_bar.grid{
        display: grid;
        background-color: var(--darkPurple);
        grid-template-columns: repeat(12, 1fr);
       
    }
    #Home > header > nav > ul > li:nth-child(1){
        grid-column: 1/2;
    }
    #Home > header > nav > ul > li:nth-child(2){
        grid-column: 3/4;
    }
    #Home > header > nav > ul > li:nth-child(3){
        grid-column: 5/6;
    }
    #Home > header > nav > ul > li:nth-child(4){
        grid-column: 7/8;
    }
    #Home > header > nav > ul > li:nth-child(5){
        grid-column: 9/10;
    }
    #Home > header > nav > ul > li:hover{
        background-color: var(--lightPurple);
    }
    #Home > header > nav > ul > li a:hover{
        color: var(--darkPurple);
    }
    /*Services*/
    #Services > ul > li:nth-child(1){
        grid-column: 1/3;   
    }
    #Services > ul > li:nth-child(2){
        grid-column: 4/6;   
    }
    #Services > ul > li:nth-child(3){
        grid-column: 7/9;   
    }
    #Services > ul > li:nth-child(4){
        grid-column: 1/3;   
    }
    #Services > ul > li:nth-child(5){
        grid-column: 4/6;   
    }
    #Services > ul > li:nth-child(6){
        grid-column: 7/9;   
    }
   
    #Services a.buttons{
        top:5px;
    }
    #Services p{
        top:-20px;
    }
    /*About section*/
    #About img{
        width:100%;
        height: 500px;
    }
    /*Portfolio section*/
    #Portfolio > ul > li{
        margin-left:0;
        margin-bottom: 50px;
        justify-content: center;
    }
    #Portfolio > ul > li:nth-child(1){
        grid-column: 1/3;
        margin-left: 20px;
    }
    #Portfolio > ul > li:nth-child(2){
        grid-column: 3/7;
    }
    #Portfolio > ul > li:nth-child(3){
        grid-column: 7/9;
    }
    /*Choose us section*/
    ul.choose_us li:nth-child(1){
        grid-column: 1/5;
    }
    ul.choose_us li:nth-child(2){
        grid-column: 5/9;
    }
    ul.choose_us li:nth-child(3){
        grid-column: 9/13;
    }
    ul.choose_us li:nth-child(4){
        grid-column: 1/13;
    }
    /*Footer*/

    div.footer_section{
        left:300px;
    }
    div.extra_footer_stuff{
        position: relative;
        display: inline-block;
    }
    div.extra_footer_stuff div.extra{
        display: inline-block;
        position: absolute;
        top: -305px;
        left: 70px;
    }
    div.small_text{
        width:220px;
    }
    div.extra_footer_stuff i{
        margin-right: 15px;
        margin-bottom: 10px;
    }
    body > footer > div.contact > a:nth-child(4) > i{
        display: none;
    }
    div.extra_footer_stuff p{
        margin-bottom:3px;
    }
    div.subscribe{
        display: inline-block;
        position: relative;
    }
    form {
        position: absolute;
        top:-310px;
        left:630px;
        text-align: center;
    }

    form button{
        width: 100px;
        height:30px;
        border-radius:5px;
        background-color:var(--lightPurple);
        border:2px solid var(--lightPurple);
        color:var(--darkPurple);
    }
    form input{
        padding:10px;
        margin-right:10px;
    }
    form button:hover{
        background-color: var(--darkPurple);
        border:2px solid var(--lightPurple);
        color:var(--lightPurple);
    }
    div.copyright{
        display: inline-block;
    }
    div.copyright p{
        font-size: 12px;
        letter-spacing: 1px;
        position: relative;
        left:150px;
    }   
     hr{
    position: relative;
    top:75px;
    } 
    div.contact {
    position: relative;
    top:75px;
    color:var(--darkPurple);
    }
    body > footer > div.contact > a > i{
        color:var(--darkPurple);
    }
    body > footer > div.contact > a > i:hover{
        color: var(--lightPurple);        
    }
    body > footer > div.contact > a:hover {
        background-color:var(--darkPurple);
    }
    
}
@media screen and (min-width:1100px) {
    /*Header section*/
    #Home h2{
        font-size: 2.5em;
    }
    #Home p.welcome_text{
        font-size: 1.2em;

    }
    /*choose us*/
    ul.choose_us li:nth-child(1){
        grid-column: 1/4;
    }
    ul.choose_us li:nth-child(2){
        grid-column: 4/7;
    }
    ul.choose_us li:nth-child(3){
        grid-column: 7/10;
    }
    ul.choose_us li:nth-child(4){
        grid-column: 10/13;
    }

    /*footer*/
    div.subscribe{
        left: 200px;
    }
    div.footer_section{
        left:400px;
    }  
}
/*desktop styles*/
@media screen and (min-width:1200px) {
    /*header section*/
    #Home img{
        height:600px;
    }
    #Home div.buttons{
        top:460px;
    }
   
}

